@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body { 
    font-family: 'Lato', sans-serif;
	background-color: #141414;
    padding: 0;
    margin: 0;
    color: #fff;
}

body .page{
    margin: 10px 40px;
}

/* Barre de navigation */

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: #141414;
    padding: 10px 0px;
}

nav .onglets{
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
}

nav .onglets a{
    margin-right: 20px;
    text-decoration: none;
    color: #fff;
}

nav .buttons button{
    padding: 13px 20px;
    color: #fff;
    border: none;
    font-size: 15px;
    outline: none;
}

nav .buttons .login{
    background-color: #0023FF;
    margin-right: 10px;
    color: #fff;
}

nav .buttons .register{
    background-color: #3498DB;
    margin-right: 10px;
    color: #fff;
}
/* Fin de la Barre de navigation */

/* Corps */

.page header{
    margin-top: 40px;
    background:url('file:///C:/Users/thedo/Downloads/564835.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1080px 400px;
}

.page header h1{
    text-align: center;
    font-size: 60px;
    padding: 150px;
    color: #0023FF;
}

/* Fin du Corps */

/*Pied de page*/

footer{
    background-color: #1a1a1a;
    padding: 25px 100px;
    color: #828282;
}

footer .colonnes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/*Fin du Pied de page*/

/*Site sur Android format*/

@media screen and (max-width: 640px){
    body .page{
        margin: 10px;
    }

    nav .onglets{
        display: none;
    }

    header{
        margin-top: 20px;
        background-size: 940px 250px;
    }
    header h1{
        font-size: 10px;
        padding: 100px;
    }
}

/* Fin du Site sur Android format*/
