@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body { 
    font-family: 'Lato', sans-serif;
	background-color: #141414;
    padding: 0;
    margin: 0;
    color: #fff;
}

body .page{
    margin: 10px 40px;
}

/* Barre de navigation */

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: #141414;
    padding: 10px 0px;
}

nav .onglets{
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
}

nav .onglets a{
    margin-right: 20px;
    text-decoration: none;
    color: #fff;
}

nav .buttons button{
    padding: 13px 20px;
    color: #fff;
    border: none;
    font-size: 15px;
    outline: none;
}

nav .buttons .login{
    background-color: #48C9B0;
    margin-right: 10px;
    color: #fff;
}

nav .buttons .register{
    background-color: #E74C3C;
    margin-right: 10px;
    color: #fff;
}
/* Fin de la Barre de navigation */

/* Corps */

.page header{
    margin-top: 40px;
    background:url('file:///C:/Users/thedo/Downloads/Just-free.mp4');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1520px 200px;
}

.page header h1{
    text-align: center;
    font-size: 60px;
    padding: 150px;
    color: #fff;
}

/* Fin du Corps */

